html {
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: lightgrey;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

/* NAV */

nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#links {
    color: lightgrey;
    z-index: 1;
}

a {
    background-color: lightgrey;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    font-size: 70%;
    margin: 30px;
    padding: 10px;
    z-index: 1;
    text-decoration: underline;
}

a:hover {
    color: white;
    
}

/* MENU' */

#menu {
    display: none;
    z-index: 1;
    position: absolute;
    right: 10px;
}

#menu div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px;
    border-radius: 10px;

}

@media (max-width: 719px) {

    #links {
        display: none;
    }

    #menu {
        display: block;
    }
}

/* HEADER */

header {
    height: 400px;
    width: 100%;
    background-image: url(../images/header.jpeg);
    background-size:cover;
    position: relative;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
    text-align: center;
    max-width: 600px;
    font-size: 280%;
    z-index: 1;
    font-family: 'Varela Round', sans-serif;
    margin-top: 100px;
}

#overlay {
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

/* ARTICLE */

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    width: 550px;
    margin: 50px;
}

article section .calorie{
    margin-top: 40px;
    height: 550px;
    width: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

article section .calorie em {
    color: grey;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    font-size: 94%;
    margin-top: 30px;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    align-items: center;
}

#descrizione {
    font-size: 80%;
}

#barra{
    width: 180px;
    margin-top: 30px;
    background-color: rgb(102, 178, 255);
    color: white;
    height: 35px;
    font-size: 25px;
    font-family: 'Varela Round', sans-serif;
}

#button{
    width: 70px;
    margin-top: 10px;
    background-color: rgb(102, 178, 255);
    color: white;
    height: 25px;
    font-family: 'Varela Round', sans-serif;
    font-size: 15px;
}

#button:hover {
    cursor: pointer;
}

.searchResult {
    text-decoration: underline;
    margin-top: 40px;
    text-align: center;
    font-size: 70%;
    color: rgb(6, 106, 207);
}



/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: lightgrey;
    font-size: 75%;
    margin: 30px;
    text-decoration: underline;
    text-align: center;
}

@media (max-width: 792px) {

    header{
        height: 40%;
    }

    header h1 {
        font-size: 60px;
    }

    nav div a{
        font-size: 15px;
    }

}

@media (max-width: 600px) {

    article{
        width: 80%;
        height: auto;
    }

    body{
        width: 100%
    }

    footer{
        height: 15%;
    }

    footer p{
        font-size: 50%;
    }

    header h1 {
        font-size: 50px;
        margin-top: 10px;
    }


    article section .calorie{
        font-size: 75%;
        width: 100%;
        margin-bottom: -50px;
    }

    em{
        text-align: center;
        width: 80%;
    }

    #barra {
        height: 30px;
        width: 150px;
        font-size: 80%;
    }

    #button {
        height: 20px;
        width: 50px;
        font-size: 60%;
    }
    



}
