.hidden {
    display: none;
}

html {
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: lightgrey;
    margin: 0%;
}

/* NAV */

nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#links {
    color: lightgrey;
    z-index: 1;
}

a {
    background-color: lightgrey;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    font-size: 70%;
    margin: 30px;
    padding: 10px;
    z-index: 1;
    text-decoration: underline;
}

a:hover {
    color: white;
}

/* MENU' */

#menu {
    display: none;
    z-index: 1;
    position: absolute;
    right: 10px;
}

#menu div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px;
    border-radius: 10px;

}

@media (max-width: 719px) {

    #links {
        display: none;
    }

    #menu {
        display: block;
    }
}

/* HEADER */

header {
    height: 400px;
    width: 100%;
    background-image: url(../images/header.jpeg);
    background-size:cover;
    position: relative;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
    text-align: center;
    max-width: 600px;
    font-size: 270%;
    z-index: 1;
    font-family: 'Varela Round', sans-serif;
}

#overlay {
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

/* ARTICLE */

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;
    width: 550px;
    margin: 50px;
    margin-left: auto;
    margin-right: auto;
    border: 6px solid rgb(102, 178, 255);
    border-radius: 20px;
}

article section {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

article section div .abbonamenti{
    margin-top: 40px;
    height: 550px;
    width: 400px;
}

article section .abbonamenti em {
    color: grey;
    font-weight: 600;
    font-size: 35px;
    text-decoration: underline;
    margin-top: 30px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-around;
}


/* ABBONAMENTI */

div.month {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;
}

div.month img {
    width: 300px;
    height: 300px;
}

div.month span{
    font-size: 27px;
    text-decoration: underline;
    margin-top: 30px;
}

div.month span:hover {
    color: white;
    cursor: pointer;
}

article span {
    text-align: center;
}

#abb_sel{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 90%;
    margin-top: 50px;
    color: whitesmoke;
}

/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer p {
    color: lightgrey;
    font-size: 75%;
    margin: 30px;
    text-decoration: underline;
    text-align: center;
}

@media (max-width: 792px) {

    header{
        height: 40%;
    }

    header h1 {
        font-size: 60px;
    }

    nav div a{
        font-size: 15px;
    }

}

@media (max-width: 600px) {

    article{
        width: 80%;
        height: auto;
    }

    body{
        width: 100%;
    }

    div.abbonamenti em{
        text-align: center;
    }

    div.month img{
        width: 250px;
        height: 250px;
    }

    div.month span {
        font-size: 25px;
    }

    #abb_sel{
        font-size: 20px;
    }

    footer{
        height: 15%;
    }

    footer p{
        font-size: 50%;
    }

}