html {
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
}

body {
    background-color: lightgrey;
    margin: 0%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
}

/* NAV */

nav {
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 10px;
    padding-top: 10px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
}

#links {
    color: lightgrey;
    z-index: 1;
}

a {
    background-color: lightgrey;
    cursor: pointer;
    color: black;
    border-radius: 10px;
    font-size: 70%;
    margin: 30px;
    padding: 10px;
    z-index: 1;
    text-decoration: underline;
}

a:hover {
    color: white;
    
}

/* MENU' */

#menu {
    display: none;
    z-index: 1;
    position: absolute;
    right: 10px;
}

#menu div {
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 4px;
    border-radius: 10px;

}

@media (max-width: 719px) {

    #links {
        display: none;
    }

    #menu {
        display: block;
    }
}

/* HEADER */

header {
    height: 400px;
    width: 100%;
    background-image: url(../images/header.jpeg);
    background-size:cover;
    position: relative;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1{
    color: white;
    text-align: center;
    max-width: 600px;
    font-size: 300%;
    z-index: 1;
    font-family: 'Varela Round', sans-serif;
}

#overlay {
    background-color: rgba(0, 0, 0, .3);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 0;
}

/* ARTICLE */

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 20px;
}

article em {
    color: grey;
    font-weight: 600;
    text-decoration: underline;
    text-align: center;
    font-size: 94%;
    margin-top: 55px;
    margin-bottom: 30px;
}

#ricerca_scheda {
    margin-top: 50px;
}

span {
    font-size: 90%;
    color: whitesmoke;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content:flex-start;
    align-content:center;
    height: auto;
    width: 690px;
    border-radius: 30px;
    padding: 10px;
}

.risposta{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    padding: 15px;
    background-color: whitesmoke;
    font-size: 80%;
    align-items: center;
    margin: 10px;
}

span.rispostaInesistente, span.rispostaVuota {
    text-align: center;
    color: rgb(6, 106, 207);
    font-size: 70%;
}

.risposta:hover {
    cursor: default;
}


img {
    width: 180px;
    height: 180px;
}

p{
    color: black;
    margin-top: 15px;
    margin-bottom: 0px;
}

#barra{
    width: 180px;
    margin-top: 15px;
    background-color: rgb(102, 178, 255);
    color: white;
    height: 40px;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
}


#button {
    margin-top: 5px;
    background-color: rgb(102, 178, 255);
    color: white;
    height: 30px;
    font-family: 'Varela Round', sans-serif;
    font-size: 18px;
}

#button:hover {
    cursor: pointer;
}

#ricerca_scheda {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FOOTER */

footer {
    background-color: black;
    width: 100%;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

footer p {
    color: lightgrey;
    font-size: 75%;
    margin: 30px;
    text-decoration: underline;
    text-align: center;
}

@media (max-width: 792px) {

    header{
        height: 40%;
    }

    header h1 {
        font-size: 60px;
    }

    nav div a{
        font-size: 15px;
    }

}

@media (max-width: 600px) {

    article{
        width: 80%;
        height: auto;
    
    }

    body{
        width: 100%
    }

    footer{
        height: 15%;
    }

    footer p{
        font-size: 50%;
    }
    
    .grid{
        width: 312px;
        justify-content: flex-start;
        align-content: center;
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #barra {
        height: 30px;
        width: 150px;
        font-size: 70%;
    }

    #button {
        height: 20px;
        width: 50px;
        font-size: 40%;
    }
    
    #descrizione{
        text-align: center;
        font-size: 80%
    }

    article em {
        font-size: 20px;
    }

    img {
        height: 120px;
        width: 120px;
    }

    div.risposta p {
        font-size: 50%;
        text-align: center;
    }

    .risposta{
        height: 180px;
        width: 136px;
    }

    .errore {
        font-size: 70%;
        margin-top: -80px;
    }



}
